@import '../../variables.scss';
@import '../../mixins.scss';

.start {
  .container {
    display: flex;
    align-items: flex-end;
  }

  &__swiper {
    width: 100%;
    //todo ХЗ правильно это или нет
    // min-height: 100vh;
    @include flexible(inherit, space-between);
  }

  &__img {
    @include flexible(inherit, center, inherit);
    margin-bottom: 55px;
    
    img {
      max-width: 100%;

      border-radius: 20px;
    }
  }

  &__text {
    line-height: 24px;
  }
}