.auth {
  &__header {
    @include flexible(center, space-between, row);

    background-color: $clr-light-grey;
    border: 1px solid #DEDEDE;

    & span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &-forms {
    &__user-img {
      margin-bottom: 30px;
      @include flexible(center, center, row);

      img {
        width: 160px; height: 160px;

        border-radius: 100px;
      }
    }

    &__input {
      width: 100%;
      //55px для даты
      padding: 12px 16px;
      margin-bottom: 20px;

      color: $clr-grey;

      border: 1px solid #C9C9C9;
      border-radius: 8px;

      &--radio {
        width: 22px; height: 22px;
        margin-right: 10px;
      }
    }

    &__user-genders {
      margin-bottom: 25px;
      display: flex;
    }

    &__user-gender {
      @include flexible(center, flex-start, row);

      &:first-child {
        margin-right: 40px;
      }
    }
  }
}