.onboarding-content {
  padding: 0 20px;
  
  &__img {
    @include flexible(inherit, center, inherit);
    margin-bottom: 100px;
    
    img {
      max-width: 100%;

      border-radius: 20px;
    }
  }

  &__text {
    line-height: 24px;
  }
}