.onboarding {
  &__header {
    justify-content: end;
    align-items: flex-end;
  }

  &__content {
    justify-content: space-around;

    &.container {
      padding: 20px 0;
    }
  }

  &__button {
    padding: 0 20px;
  }

  &__link {
    height: 100%;
    @include flexible(center, center, row);
  }
}